body {
  margin: 0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(131, 191, 193);
}

h1 {
  color: white;
  text-align: center;
  margin-top: 0;
  padding: 20px;
  background-color: #dcb286;
}

.footer {
  background-color: #dcb286;
  color: black;
  text-align: center;
  padding: 10px;
  left: 0;
  bottom: 0;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
